@import "tailwindcss";

@custom-variant dark (&:where(html[data-theme="dark"] *));

:root {
    color-scheme: light dark;
}

:root,
html[data-theme="light"] {
    color-scheme: light;
    --background-image: url("/background/light.svg");
    color: var(--color-black);
}

html[data-theme="dark"] {
    color-scheme: dark;
    --background-image: url("/background/dark.svg");
    color: var(--color-white);
}

body {
    background-image: var(--background-image);
    background-repeat: repeat;
}

@layer colors {
    .surface {
        @apply bg-white/80 dark:bg-black/60 backdrop-blur-md shadow-xl;
    }

    .background-color {
        @apply bg-cyan-50 dark:bg-zinc-800;
    }

    .border-color {
        @apply border-blue-300 dark:border-blue-200;
    }
}

@layer padding {
    .standard-p {
        @apply p-5;
    }

    .double-p {
        @apply p-10;
    }
}