---
import BaseLayout from "../layouts/base-layout.astro";
import ContainerAstroComponent from "../components/container.astro";
import CardAstroComponent from "../components/card.astro";
---

<BaseLayout>
    <div class="flex justify-center">
        <ContainerAstroComponent>
            <CardAstroComponent/>
        </ContainerAstroComponent>
    </div>
</BaseLayout>
