---
import BaseLayout from "../layouts/base-layout.astro";
import Card from "../components/card.astro";
---

<BaseLayout>
    <div class="flex h-full px-12.5 lg:px-25">
       <Card/>
    </div>
</BaseLayout>
