---
interface Props {
	title: string;
}

import { Font } from "astro:assets";
import "../styles/global.css";
import HeaderAstroComponent from "../components/header.astro";
const { title } = Astro.props;
const pageTitle = "E-vvia - " + title;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<Font cssVariable="--font-fot-yuruka-std" preload />
		<script is:inline src="/scripts/theme.js"></script>

		<title>{pageTitle}</title>
	</head>

	<body class="min-h-lvh flex flex-col">
		<HeaderAstroComponent />
		<main class="flex-1 flex items-center justify-center">
			<slot />
		</main>
	</body>
</html>
